/* .product-photo{
    max-width: 400px;
} */
.product-card{
    max-width: 400px;
}

mat-grid-list {
    background: rgb(250, 250, 250);
}

.auth-button{
    margin-left: 10px;
    /* position: absolute;
    right: 0px;
    margin-right: 10px; */
}
/* .toolbar-main{
    position: fixed;
    top: 0;
} */