<div class="sign-up-container">
    <h2>login / Sign Up</h2>
    <mat-form-field>
        <input matInput placeholder="First name" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Last name" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button color="primary">Sign Up</button>
</div>